body{
    background-color: burlywood;
}
h1{
    text-align: center;
    font-size: 50px;
}


img{
    float: right;
    width: 400px;
    height: 500px;
}

.a{
    font-size: 20px;
}
.b{
    font-size: 20px;
}

.c{
    font-size: 20px;
}
.d{
    font-size: 20px;
}

